<div class="container">
  <div class="row">
    <div class="col social">
      <a href="https://www.facebook.com/markazalumnipage/" target="_blank"><i class="fa fa-facebook"></i></a>
      <a [routerLink]="['/coming-soon']"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <!--Search-->
    <div class="col-sm-4 d-flex flex-column mb-2">
      <span class="footer-heading"><i class="fa fa-bookmark-o mr-4"></i>Search</span>
      <hr class="w-100 mt-2 border-white" />
      <a [routerLink]="['/coming-soon']">By Directory</a>
      <a [routerLink]="['/coming-soon']">By Current Location</a>
      <a [routerLink]="['/coming-soon']">By Resources</a>
    </div>

    <!--Careers-->
    <div class="col-sm-4 d-flex flex-column mb-2">
      <span class="footer-heading"><i class="fa fa-bookmark-o mr-4"></i>Careers</span>
      <hr class="w-100 mt-2 border-white" />
      <a [routerLink]="['/coming-soon']">Jobs</a>
      <a [routerLink]="['/coming-soon']">Internships</a>
    </div>

    <!--Contact-->
    <div class="col-sm-4 d-flex flex-column mb-2">
      <span class="footer-heading"><i class="fa fa-envelope-o mr-4"></i>Contact</span>
      <hr class="w-100 mt-2 border-white" />
      <a [routerLink]="['/coming-soon']">By Directory</a>
      <a [routerLink]="['/coming-soon']">By Current Location</a>
      <a [routerLink]="['/coming-soon']">By Resources</a>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a routerLink="legal/privacy-policy" class="text-muted">Privacy Policy</a>
    </div>
  </div>

  <!--Made with love by the Alumni-->
  <div class="row mt-2">
    <div class="col text-right text-lowercase love">
      Made with <i class="fa fa-heart"></i> by Alumni
    </div>
  </div>
</div>