<div class="container">
  <div class="row">
    <div class="col social">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <!--Search-->
    <div class="col-sm-4 d-flex flex-column mb-2">
      <span class="footer-heading"><i class="fa fa-bookmark-o mr-4"></i>Search</span>
      <hr class="w-100 mt-2 border-white" />
      <a href="">By Directory</a>
      <a href="">By Current Location</a>
      <a href="">By Resources</a>
    </div>

    <!--Careers-->
    <div class="col-sm-4 d-flex flex-column mb-2">
      <span class="footer-heading"><i class="fa fa-bookmark-o mr-4"></i>Careers</span>
      <hr class="w-100 mt-2 border-white" />
      <a href="">Jobs</a>
      <a href="">Internships</a>
    </div>

    <!--Contact-->
    <div class="col-sm-4 d-flex flex-column mb-2">
      <span class="footer-heading"><i class="fa fa-envelope-o mr-4"></i>Contact</span>
      <hr class="w-100 mt-2 border-white" />
      <a href="">By Directory</a>
      <a href="">By Current Location</a>
      <a href="">By Resources</a>
    </div>
  </div>

  <!--Made with love by the Alumni-->
  <div class="row mt-2">
    <div class="col text-right text-lowercase love">
      Made with <i class="fa fa-heart"></i> by Alumni
    </div>
  </div>
</div>