<div class="d-flex flex-column justify-content-center">
  <div class="d-flex title-orma position-relative">
    <particles [style]="particleStyles" [params]="particleParams"></particles>
    <img class="orma-img" src="/assets/images/alumni-logo.png" />
    <div class="d-flex flex-column p-3 flex-grow-1">
      <div class="member-title-container">
        <div class="member-title">Life Member</div>
        <div class="member-number">Membership No: {{ getMembershipNo() }}</div>
        <hr size="2" />
      </div>
    </div>
  </div>
  <div class="member-detail d-flex">
    <div><img [src]="getProfilePic()" /></div>
    <div class="flex-grow-1 flex-column member-detail-subcontainer">
      <div class="member-name">{{ getTitleName() }}</div>
      <div class="member-admission">Admission No: {{ getAdmissionNo() }}</div>
    </div>
  </div>
</div>
