@import '~bootstrap/scss/bootstrap.scss';

/* padding & margin values */
// Cant @extend inside media queries.
// pt-1
$sp-1: $spacer * 0.25;
$sp-2: $spacer * 0.5;
$sp-3: $spacer;
$sp-4: $spacer * 1.5;
$sp-5: $spacer * 3;

/* Breakpoints */
@mixin respond-to($media) {
    @include media-breakpoint-down($media) {
        @content;
    }
}

.thridy-party-login-btn {
    @extend .btn, .p-2, .m-1;
    width: 180px;

    @include respond-to(sm) {
        width: 150px;
    }

    @include respond-to(xs) {
        width: 130px;
    }

    .icon {
        width: 1.1em;
        height: 1.1em;
    }
}

.max-width-1 { max-width: $spacer * 10; }
.max-width-2 { max-width: $spacer * 15; }
.max-width-3 { max-width: $spacer * 20; }
.max-width-4 { max-width: $spacer * 25; }