@import 'src/styles/common.scss';

.fader {
    @extend .d-flex, .justify-content-center, .align-items-center, .position-fixed;
    z-index: 1000;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.65);

    transition: opacity 0.25s ease-out;
    pointer-events: none;
    opacity: 0;
    &.visible {
        opacity: 1;
        pointer-events: initial;
    }

    mat-progress-bar {
        width: $spacer * 15;
    }
}
