@import 'src/styles/common.scss';

.container {
    margin-top: 10vh;
    min-height: 65vh;
    // @include respond-to(md) { margin-top: 62px; }
    // @include respond-to(sm) { margin-top: 96px; }
}

.background {
    z-index: -10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EEEEEE;
}