@import 'src/styles/common.scss';

.container {
    margin-top: 8vh;
    min-height: 70vh;
    @include respond-to(sm) { margin-top: 6vh; }
    @include respond-to(xs) { margin-top: 5vh; }
}

.background {
    z-index: -10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #EEEEEE;
}