<nav>
  <span class="brand" routerLink="/">
    <img class="logo p-2" src="assets/images/alumni-logo.png" />
    <div class="title">
      <h5 class="text-uppercase main m-0">Markazul Uloom English School</h5>
      <h6 class="text-uppercase sub m-0">Alumni Association</h6>
    </div>
  </span>

  <span class="flex-grow-1"></span>

  <!--Buttons-->
  <div class="button-container" [ngClass]="{collapsed: collapsed}">
    <div class="button" (click)="routeTo(['/'])">
      Home
    </div>
    <div class="button" (click)="routeTo(['/coming-soon'])">
      Gallery
    </div>
    <div class="button" (click)="routeTo(['/coming-soon'])">
      Feedback
    </div>
    <div class="button" (click)="routeTo(['/coming-soon'])">
      About
    </div>
    <div class="button gold" (click)="routeTo(['/coming-soon'])">
      Giving Back
    </div>
    <!-- <div class="button keep-connected" (click)="onKeepConnectedClick()">
      <i class="fa fa-user"></i> {{ getUserName() }}
    </div> -->
  </div>

  <button class="collapse-toggler" (click)="collapsed = !collapsed">
    <i class="fa fa-bars"></i>
  </button>
</nav>