<div class="d-flex flex-column justify-content-center">
  <span class="h4 text-center mb-1">Registration</span>
  <span class="text-muted text-center mb-3">Please complete the following multi-step process</span>
  <mat-vertical-stepper class="shadow" labelPosition="bottom">
    <!-- linear="true" -->
    <mat-step [stepControl]="searchForm">
      <form class="p-md-3" [formGroup]="searchForm" (ngSubmit)="searchRecords()">
        <ng-template matStepLabel>Tell us who you are</ng-template>
        <div class="row">
          <!-- Name -->
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="search" placeholder="Name in school records" formControlName="name" />
          </mat-form-field>

          <!-- DOB -->
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="dobDatePicker" placeholder="DOB in school records"
              formControlName="dateOfBirth" />
            <mat-datepicker-toggle matSuffix [for]="dobDatePicker">
              <mat-icon matDatepickerToggleIcon>event</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dobDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" [disabled]="searchForm.pristine || searchForm.invalid" class="btn btn-block max-width-2" mat-raised-button color="accent">Search</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Confirm your details</ng-template>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Payment</ng-template>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Verification</ng-template>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>