<div class="d-flex flex-column align-items-center">
  <span class="h4 text-center mb-1">Login</span>
  <span class="text-muted text-center mb-3">Please continue with any of the following</span>
  <mat-card class="p-md-4 shadow">
    <mat-card-content class="d-flex flex-column">
      <!-- google, fb -->
      <span class="d-flex flex-column">
        <button type="button" mat-raised-button class="thridy-party-login-btn w-100 mb-2" (click)="googleLogin()">
          <img class="icon" src="assets/third-party-logos/google-favicon.svg">
          Continue with Google
        </button>
        <button type="button" mat-raised-button class="thridy-party-login-btn w-100" (click)="facebookLogin()">
          <img class="icon" src="assets/third-party-logos/facebook-favicon.svg">
          Continue with Facebook
        </button>
      </span>
    </mat-card-content>
  </mat-card>
</div>