<form class="d-flex flex-column mt-5">
  <mat-card class="p-4">
    <mat-card-content class="d-flex flex-column mb-1">
      <mat-form-field>
        <input matInput placeholder="Email Address" type="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-column justify-content-between mb-1">
      <button type="submit" class="p-login-btn" mat-raised-button color="accent">Login</button>

      <h2 routerLink="/" class="or-line">
        <span>OR</span>
      </h2>

      <!-- google, fb -->
      <span class="d-flex flex-row">
        <button mat-raised-button class="thridy-party-login-btn">
          <img class="icon" src="assets/third-party-logos/google-favicon.svg">
          Google
        </button>
        <button mat-raised-button class="thridy-party-login-btn">
          <img class="icon" src="assets/third-party-logos/facebook-favicon.svg">
          Facebook
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
  <span routerLink="/" class="secondary-actions mt-3">Forgot Password</span>
  <span routerLink="/" class="secondary-actions">Register</span>
</form>