<form class="d-flex flex-column mt-5" [formGroup]="loginForm" (ngSubmit)="login()">
  <span class="h4 text-center mb-1">Login</span>
  <span class="text-muted text-center mb-3">Please provide your credentials</span>
  <mat-card class="p-4 shadow">
    <mat-card-content class="d-flex flex-column mb-0">
      <mat-error class="text-center">{{ formError }}</mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email Address" type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email').errors?.required">Please provide your email address</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('email').errors?.required">Please provide a password</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-column justify-content-between mb-1">
      <button type="submit" class="p-login-btn" mat-raised-button color="accent">Login</button>

      <h2 routerLink="/" class="or-line">
        <span>OR</span>
      </h2>

      <!-- google, fb -->
      <span class="d-flex flex-row">
        <button type="button" mat-raised-button class="thridy-party-login-btn" (click)="googleLogin()">
          <img class="icon" src="assets/third-party-logos/google-favicon.svg">
          Google
        </button>
        <button type="button" mat-raised-button class="thridy-party-login-btn" (click)="facebookLogin()">
          <img class="icon" src="assets/third-party-logos/facebook-favicon.svg">
          Facebook
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
  <span routerLink="/" class="secondary-actions mt-3">Forgot Password</span>
  <span routerLink="/register" class="secondary-actions">Register</span>
</form>